@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    background-color: #24221e;
    color:rgb(253, 237, 207);
    zoom: 1.2;
}

.container{
    width: 750px;
    margin:auto;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

.info{
    padding-left: 150px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    text-align: left;
}

.info-text{
    margin-left: 30px;
}

h2{
    text-align: center;
    font-style: none;
    font-size: 30px;
}

a{
    outline: none;
    text-decoration: none;
    color: rgb(253, 237, 207);

}
#work, .social{
    padding-left: 20px;
}

.avatar{
    width: 250px;
    border-radius: 50px;
    border:2.5px solid rgb(253, 237, 207);
    box-shadow: 0px 0px 20px rgb(22, 130, 180);
}

.text-td{
    padding-right: 50px;
    border-bottom: 2px solid rgb(253, 237, 207);
    width: 65%;
}

hr{
    border: 1px solid inherit;
    border-radius: 50%;
}

.table-items{
    width: 100%;
    background-color: rgba(123, 185, 53, 0.1);
    border-radius:40px;
    padding: 30px;
    padding-left: 70px;
    box-shadow: 0px 0px 20px rgb(22, 130, 180);
    margin-bottom: 20px;
}

.images-elem {
    margin-bottom: 20px;
    border-radius: 40px;
    border:2px solid rgb(253, 237, 207);
}

@media(max-width: 700px){
    .info{
        text-align: center;
        display: block;
    }   
}

.hobbie{
    margin-bottom: 25px;
    background: rgba(50, 205, 197,0.1);
    border-radius:40px;
    padding: 30px;
    padding-left: 70px;
    box-shadow: 0px 0px 20px rgb(22, 130, 180);
}
.hobbie li{
    list-style: none;
    padding-bottom: 10px;
    
}

.btn{
    bottom: 20px;
    right: 20px;
    position: fixed;
    width: 5%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background:rgb(134, 93, 93);
    border:1px dashed rgb(253, 237, 207);
    border-width: 2px;
    color:rgb(253, 237, 207);

}

#developer{
    cursor: pointer;
}

#developer:hover{
    box-shadow: 0px 0px 20px rgb(22, 130, 180);
    animation-delay: 60s;
}

h2{
    text-transform: uppercase;
}

.social-acc:hover{
    box-shadow: 0px 2px 0px rgb(253, 237, 207);
}